
/*___________________________________ info ___________________________________*/
/*
COLORS
#4baea0
#b6e6bd
#f1f0cf
#f0c9c9
#fcfcfc
#333333*/
/*_________________________________ end info _________________________________*/




/*_________________________________ GENERAL __________________________________*/
/*______________________________ general tags ________________________________*/
html{
  scroll-behavior: smooth;
}

html,body{
  height: 100%;
}

body{
  background-color: #f1f0cf;
  min-height: 100%;
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2rem;
  color: #333333;
}

ul{
  width: 50%;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  margin: 10% 2% 0 2%;
  text-align: left;
}

h2{
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 0;
}

h3{
  text-align: left;
  font-size: 2rem;
}


p{
  text-align: left;
  font-size: 1.2rem;
}

a{
  color: #333333;
}
/*_____________________________ end general tags _____________________________*/


/*_____________________________ generic classes ______________________________*/
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.full-width{
  width: 100%;
  margin: 0;
}

.center-text{
  text-align: center;
}

.info-box-style{
  transition: 0.12s;
  border-style: hidden;
  box-shadow: none;
}

.info-text{
display: flex;
flex-direction: column;
align-items: center;
}

.info-paragraph{
  margin-top: 5%;
  padding: 5%;
  background-color: #fcfcfc;
}

.button-style{
  font-size: 1.2rem;
  border-radius: 15px;
}

.big-topic-buttons{
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 15% auto 5% auto;
  transition: 0.125s;
}

.big-topic-buttons:hover, .two-big-imgs:hover{
  width: 24%;
  cursor: pointer;
}

.text-big-topic-buttons{
  width: 80%;
  display:flex;
  margin: 0 10%;
  flex-direction: column;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.main-button{
  width: 10%;
  height: 50px;
  background-color: #b6e6bd;
  padding: 10px;
  margin:4%;
  color: #333333;
  transition: 0.125s;
}

.main-button:hover{
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color:#333333
}
/*____________________________ end generic classes ___________________________*/


/*________________________________toTopButton_________________________________*/
#toTopButton {
  opacity: 0;
  position: fixed; /* Fixed/sticky position */
  bottom: 5%; /* Place the button at the bottom of the page */
  right: 5.2%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f0c9c9; /* Set a background color */
  color: #fcfcfc; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0 20px; /* Some padding */
  font-size: 4rem; /* Increase font size */
  transition: 0.125s
}

#toTopButton:hover {
  background-color: #b6e6bd; /* Add a dark-grey background on hover */
}
/*______________________________ end toTopButton _____________________________*/
/*_______________________________ END GENERAL ________________________________*/


/*_____________________________ PAGE SPECEIFICS ______________________________*/
/*____________________________ navbar & breadcrumbs __________________________*/
.navbar-custom{
  background-color: #f1f0cf !important;
  height: 12vh;
}

.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
}

.nav-item{
  margin: 0 8%;
  padding: 2%;
  transition: 0.3s;
}

.navbar-collapse{
  background-color: #f1f0cf;
  z-index: 5;
}

.search-button{
  border-color: #4baea0;
  color: #4baea0;
}

.search-button:hover{
  background: #4baea0;
}

.breadcrumbs{
  font-size: 1rem;
  padding: 0;
  margin-left: 10px;
}

.nav-link{
  color: gray !important;
}

.nav-link:hover{
  color: darkgrey !important;
}

.dropdown-menu{
  background-color:rgba(0,0,0,0);
  border: none;
  font-size: 1.2rem;
  color: gray !important;
}

.dropdown-item{

  border: none;
  font-size: 1.2rem;
  color: gray !important;
}

/*_________________________ end navbar & breadcrumbs _________________________*/


/*______________________________ index.html ________________________________*/
.start-text{
  margin: 0 5% 15.8% 5%;
  padding: 0 8% 0 0;
}



.front-img{
  width: 60%;
  margin: 25% 2% 0 20%;
}

.contacts-container{
  margin-top: 12%;
  border-radius: 80px 80px 0 80px;
  background-color: #b6e6bd;
}

.contact-col1{
  border-radius: 100px;
}
.contact-col2{
  border-radius: 0 50px 0 0;
}

.contact-text{
  margin: 5% 5% 5% 8%;
  text-align: left;
}

.contact-title{
  margin-left: 8%;
}

.news-container{
  margin: 0;
  border-radius: 80px 80px 80px 0;
  background-color: #f1f0cf;
}

.news{
  margin: 5% auto;
  width: 80%;
  height: 38%;
  background-color: #b6e6bd;
  border-radius: 80px 80px 80px 0;
}

.news-title{
  margin: 4% 0 4% 11%;
}

.news:hover{
  width: 85%;
  height: 44%;
  cursor: pointer;
}

.news-img{
  width: 90%;
  height: 20vh;
  object-fit: cover;
  margin: 5% 5% 0 5%;
    border-radius: 60px 60px 60px 60px;
}

.news-text{
 margin: 5% 0 0 0;
}

.news-header{
  font-size: 1.2rem;
  margin-bottom: 0;
}
/*_______________________________ end index.html _____________________________*/


/*______________________________ info-a-o.html________________________________*/
.letter-index, h3{
  line-height:1.3rem;
  font-size: 1.5rem;
}
/*_____________________________ end info a-o.html ____________________________*/


/*____________________________ info-kontakt.html______________________________*/
.img-radstornet{
 margin-top: 20%;
}

.img-aphos{
margin-top: 23%;
}

.text-radstornet{
  margin-top: 19%;
}

.text-aphos{
  margin-top:22%;
}
/*_________________________ end info-kontakt-html_____________________________*/


/*____________________________ bildgalleri.html_______________________________*/
.carousel-inner{
    height: 50vh;
    display: flex;
    align-items: center;
}

.item img{
    height: 100% !important;
    width:  100% !important;
}

.carousel-control, .carousel-control:focus{
  background-color: #d8d8d8;
  opacity: 0.5;
}

.carousel-control:hover{
  opacity: 0.8;
}

.gallery-links{
  text-align: center;
  margin: 2% auto;
}

.gallery-link{
  width: 20%;
}

.gallery-link:hover{
  width: 24%;
}
/*__________________________ end bildgalleri.html ____________________________*/


/*___________________________ gallery archive pages __________________________*/
.gallery{
  margin: 2% 10%;
}

.gallery-img{
  border-radius: 0 0 40px 40px;
  transition: 0.2s;
  border-style: hidden;
}

.gallery-img:hover{
  background-color: #b6e6bd;
  cursor: pointer;
}
.card-img-top{
  height: 30vh;
  object-fit: cover;
}

.modal-width{
  width: 46vw;
}


/*________________________ end gallery archive pages _________________________*/


/*_____________________________ maklarinfo.html ______________________________*/
.maklar-button{

  margin:4% 0 4% 28%;

}



/*___________________________ end maklarinfo.html ____________________________*/

/*______________________ protokoll.html, tosteroblad.html ____________________*/
.old-document{
  width: 50%;
  margin: 5% 20% 0 20%;
}


/*____________________ end protokoll.html, tosteroblad.html __________________*/
/*__________________________ END PAGE SPECEIFICS _____________________________*/
